/* You can add global styles to this file, and also import other style files */

@import '~typeface-ubuntu-mono/index.css';

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #1E1E1E;
    color: #D4D4D4;
}
